

.text-center {
    text-align: center;
}

.md-theme-default{
	background-color:#fff;
}

.img-medium-container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	min-width: 50%;
}

.garment-card{
	margin:20px;
}

.sc-medium{
	max-width: 50%;
	min-width: 50%;
}

img{
	padding:10px;
	max-height: 100%;
	max-width: 100%;
	margin:auto;
	height: auto;
}

