<div class="main-content" v-if="styleCollection">
     <md-layout md-row>
          <md-layout md-column   md-flex-xsmall="100" md-flex-small="50" md-flex-medium="30" md-flex-large="25"
                  v-for="garment in styleCollection.products"  :key="garment.id" track-by="id">
                  <md-card class="garment-card">
                      <md-card-media  md-ratio="1:1">
                          <div class="img-medium-container">
                            <img class="sc-medium" :src=garment.image.sizes.Medium.url alt="People"/>
                          </div>
                      </md-card-media>
                      <md-card-header>
                        <div class="md-title">Title goes here</div>
                        <div class="md-subhead">Subtitle here</div>
                      </md-card-header>

                      <md-card-actions>
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                      </md-card-actions>
                    </md-card>
          </md-layout>
    </md-layout>
</div>
