
<div id="appStage" class="container">
    <AppNavbar page-title="Getting Started" :sideToggle="toggleSidenav" pageTitle="Style Collective">
        <md-sidenav class="main-sidebar md-left" md-swipeable ref="leftSidenav">
          <md-toolbar class="vue-material-logo">
            <router-link exact to="/">
              <img src="../../../assets/images/logo.png"  alt="Vue">
              <span>Style Selector</span>
            </router-link>
          </md-toolbar>
           <div class="main-sidebar-search">
             <md-layout>
                <StyleSelector></StyleSelector>
                <CollectionState></CollectionState>
             </md-layout>
          </div>
        </md-sidenav>
        <transition name="md-router" appear>
            <router-view class="view router-view"></router-view>
        </transition>
    </AppNavbar>
</div>

