
<div  class="md-row" v-if="styleCollection">
  <md-divider></md-divider>
  <span class="md-headline">Style Collection State</span>
  <md-list>
    <md-list-item>
      <span class="md-title">{{collectionTitle}}</span>
    </md-list-item>
    <md-list-item>
       <span class="md-subheading">Page Count: {{pageCount}}</span>
    </md-list-item>
    <md-list-item>
       <span class="md-subheading">Current Page: {{page}}</span>
    </md-list-item>

    <md-list-item class="pager-item">
      <Pager :selectionId="collectionId" :currentPage="page"> </Pager>
    </md-list-item>
  </md-list>
</div>
